In [1]:
import pandas as pd 
import numpy as np

In [2]:
df = pd.read_csv("data.csv")

C:\Users\s212784\AppData\Roaming\Python\Python37\site-packages\IPython\core\interactiveshell.py:3258: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
df.columns

Index(['Date_Time', 'BOROUGH', 'ZIP CODE', 'LATITUDE', 'LONGITUDE',
       'NUMBER OF PERSONS INJURED', 'NUMBER OF PERSONS KILLED',
       'NUMBER OF PEDESTRIANS INJURED', 'NUMBER OF PEDESTRIANS KILLED',
       'NUMBER OF CYCLIST INJURED', 'NUMBER OF CYCLIST KILLED',
       'NUMBER OF MOTORIST INJURED', 'NUMBER OF MOTORIST KILLED',
       'CONTRIBUTING FACTOR VEHICLE 1', 'CONTRIBUTING FACTOR VEHICLE 2',
       'CONTRIBUTING FACTOR VEHICLE 3', 'CONTRIBUTING FACTOR VEHICLE 4',
       'CONTRIBUTING FACTOR VEHICLE 5', 'COLLISION_ID', 'VEHICLE TYPE CODE 1',
       'VEHICLE TYPE CODE 2', 'VEHICLE TYPE CODE 3', 'VEHICLE TYPE CODE 4',
       'VEHICLE TYPE CODE 5', 'Year', 'z_LATITUDE', 'z_LONGITUDE'],
      dtype='object')

In [6]:
data = df[['Date_Time', 'BOROUGH', 'Year', 'COLLISION_ID']]

In [7]:
data.head()

             Date_Time    BOROUGH  Year  COLLISION_ID
0  2021-09-11 09:35:00   BROOKLYN  2021       4456314
1  2021-12-14 08:17:00      BRONX  2021       4486660
2  2021-12-14 21:10:00   BROOKLYN  2021       4487074
3  2021-12-14 14:58:00  MANHATTAN  2021       4486519
4  2021-12-14 16:50:00     QUEENS  2021       4487127

In [8]:
data_Brok = data.loc[data.BOROUGH == "BROOKLYN"]

In [14]:
type(data_Brok.Date_Time)

pandas.core.series.Series

In [15]:
data_Brok['Date_Time'] = pd.to_datetime(data_Brok['Date_Time'])

C:\Users\s212784\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [31]:
data_Brok.head()

             Date_Time   BOROUGH  Year  COLLISION_ID
0  2021-09-11 09:35:00  BROOKLYN  2021       4456314
2  2021-12-14 21:10:00  BROOKLYN  2021       4487074
6  2021-12-14 17:58:00  BROOKLYN  2021       4486604
7  2021-12-14 20:03:00  BROOKLYN  2021       4486991
12 2021-12-14 17:31:00  BROOKLYN  2021       4486516

In [33]:
data_Brok["weekday"] = data_Brok.Date_Time.dt.dayofweek < 5

C:\Users\s212784\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [36]:
data_Brok["hour"] = data_Brok.Date_Time.dt.hour

C:\Users\s212784\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [37]:
data_Brok.head()

             Date_Time   BOROUGH  Year  COLLISION_ID  weekday  hour
0  2021-09-11 09:35:00  BROOKLYN  2021       4456314    False     9
2  2021-12-14 21:10:00  BROOKLYN  2021       4487074     True    21
6  2021-12-14 17:58:00  BROOKLYN  2021       4486604     True    17
7  2021-12-14 20:03:00  BROOKLYN  2021       4486991     True    20
12 2021-12-14 17:31:00  BROOKLYN  2021       4486516     True    17

In [38]:
data_Brok['business_day'] = data_Brok['weekday'].replace({True: 'Business Days', False: 'Weekends'})

C:\Users\s212784\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [39]:
data_Brok.head()

,Date_Time,BOROUGH,Year,COLLISION_ID,weekday,hour,business_day
0,2021-09-11 09:35:00,BROOKLYN,2021,4456314,False,9,Weekends
2,2021-12-14 21:10:00,BROOKLYN,2021,4487074,True,21,Business Days
6,2021-12-14 17:58:00,BROOKLYN,2021,4486604,True,17,Business Days
7,2021-12-14 20:03:00,BROOKLYN,2021,4486991,True,20,Business Days
12,2021-12-14 17:31:00,BROOKLYN,2021,4486516,True,17,Business Days

In [45]:
data_brok_weekday = data_Brok.loc[data_Brok.weekday == True]

In [47]:
data_brok_weekend = data_Brok.loc[data_Brok.weekday == False]

In [48]:
data_brok_weekend.groupby()

,Date_Time,BOROUGH,Year,COLLISION_ID,weekday,hour,business_day
0,2021-09-11 09:35:00,BROOKLYN,2021,4456314,False,9,Weekends
19,2022-04-24 01:30:00,BROOKLYN,2022,4522015,False,1,Weekends
26,2022-04-24 04:20:00,BROOKLYN,2022,4522167,False,4,Weekends
35,2021-12-04 12:00:00,BROOKLYN,2021,4485333,False,12,Weekends
40,2021-12-05 08:20:00,BROOKLYN,2021,4485408,False,8,Weekends
...,...,...,...,...,...,...,...
1224083,2022-12-31 12:39:00,BROOKLYN,2022,4606651,False,12,Weekends
1224094,2022-06-12 19:46:00,BROOKLYN,2022,4607317,False,19,Weekends
1224096,2022-03-20 01:15:00,BROOKLYN,2022,4607518,False,1,Weekends
1224097,2022-07-10 07:40:00,BROOKLYN,2022,4607685,False,7,Weekends
1224123,2022-03-19 08:30:00,BROOKLYN,2022,4613954,False,8,Weekends